<header class="header-pmt">
    <div class="logo-container">
        <a routerLink="">
            <img src="assets/logo.png" alt="Logo PMT" class="logo-image"/>
        </a>
    </div>
    <div>
        <nav>
            <ul class="navbar-elements">
                <li class="navbar-li">
                    <a routerLink="/login" class="navbar-elements__link">Connexion</a>
                </li>
                <li class="navbar-li">
                    <a routerLink="/register" class="navbar-elements__link">S'inscrire</a>
                </li>
            </ul>
        </nav> 
    </div>
</header>