<section>
    <nav>
        <div>
            <ul class="navbar">
                <li>
                    <a routerLink="/home">
                        <img src="assets/logo.png" alt="logo PMT" class="logo">
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" class="navbar-elements">
                        <img src="assets/Vector.png" alt="" class="logo_navbar">
                        <P>Tableau de bord</P>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" class="navbar-elements">
                        <img src="assets/Cube.png" alt="" class="logo_navbar">
                        <P>Tableau de bord</P>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" class="navbar-elements">
                        <img src="assets/ListBullets.png" alt="" class="logo_navbar">
                        <P>Tableau de bord</P>
                    </a>
                </li>
                <li >
                    <a routerLink="/dashboard" class="navbar-elements">
                        <img src="assets/GearSix.png" alt="" class="logo_navbar">
                        <P>Tableau de bord</P>
                    </a>
                </li>
                <li>
                    <a routerLink="/dashboard" class="navbar-elements">
                        <img src="assets/ChatTeardropDots.png" alt="" class="logo_navbar">
                        <P>Tableau de bord</P>
                    </a>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="btn_container" (click)="logout()">
        <button class="btn-primary">se déconnecter</button>
    </div>
    <div class="greybar"></div>
</section>